<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
  <link rel="stylesheet" href="{{ "css/style-cv.css" | relURL}}" type="text/css" media="all" />
</head>

<body>
    <div class="dropdown">
      <button class="dropbtn">Languages</button>
      <div class="dropdown-content">
        <a href="../cv_br">Portuguese</a>
        <a href=".">English</a>
      </div>
    </div> 
  
    <div class="curriculum">
      <div class="profile">
          <h1>Victor Burgardt</h1>
          <p>vapb7123@gmail.com</p>
      </div>
      
      <div class="section">
        <h3>Education</h3>
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/igti_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Faculdade XP Educação - IGTI (XPE)</span>
                <span class="bold">MBA in Data Engineering.</span>
              </div>
              <span class="date">2022 - 2024</span>
            </div>
          </div>
        </div>
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/puc_rio_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Pontifical Catholic University of Rio de Janeiro (PUC-Rio)</span>
                <span class="bold">Post graduation in Data Science.</span>
              </div>
              <span class="date">2020 - 2021</span>
            </div>
          </div>
        </div>
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/cinufpe_logo.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Universidade Federal de Pernambuco (UFPE)</span>
                <span class="bold">Bachelor of Information Systems with Academic Honors</span>
              </div>
              <span class="date">2015 - 2019</span>
            </div>
          </div>
        </div>
  
      <div class="section">
        <h3>Work Experiences</h3>
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/fcx-labs.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="title-space">
              <div class="title">
                <span class="job-name">FCx Labs</span>
                <span class="bold">Data Scientist / Python Developer</span>
              </div>
              <span class="date">Nov, 2022 - Present</span>
            </div>
            <span class="job-description">Working with two projects since the beginning, Transport Management System (TMS) is a large code base with multiple technologies with most of my contributions being on shipping price calculation. The second project is the free shipping calculation DAG, which allows for the main ecommerce system to define products with free shipping.</span> 
            <span>The main activities were:</span>
            <ul>
              <li>Database performance analysis with Jupyter.</li>
              <li>Creating DAGs in Dagster.</li>
              <li>Migrating Oracle Packages to Postgres.</li>
              <li>Translating Oracle database and PL/SQL functions to Python.</li>
              <li>Optimization of Bin packing problem.</li>
              <li>Analyzing user data for optimization of shipping calculations.</li>
              <li>Development, maintenance, and documentation of Backend FastAPI systems.</li>
              <li>Load testing on backend endpoints.</li>
              <li>Usage of AWS solutions like RDS, S3, IAM, AWS Secrets, ElasticCache.</li>
              <li>Other activities.</li>
            </ul>
            <div class="tools">
              <span class="bold">Tools:</span>
              <span>K6, AWS, Rancher, Docker, Jupyter, Pandas, Polars, PLSQL, Postgres, Oracle</span>
            </div>
            <div class="skills">
              <span class="bold">Skills:</span>
              <span>Python, Jupyter, Data Pipeline, PostgreSQL, Oracle Database, Amazon Web Services</span>
            </div>
          </div>
        </div>
        
        <hr class="dash">
  
        <div class="work-experience">
          <div class="company-logo">
            <img src="{{ "images/cv-images/fgv-ibre.jpg" | relURL}}" alt="Company Logo">
          </div>
          <div class="job-experience">
            <div class="job-title">
              <div class="title-space">
                <div class="title">
                  <span class="job-name">Fundação Getulio Vargas FGV IBRE</span>
                  <span class="bold">Python Data Developer</span>
                </div>
                <span class="date">Abr, 2021 - Abr, 2022</span>
              </div>
              <span class="job-description">This position had the main project of creating a data platform from scratch to scrape prices from large ecommerce websites, parse them, and load them into a Postgres database for later consumption by the data science team.</span> 
              <span>The main activities were:</span>
              <ul>
                <li>Maintenance and development of Back-end systems using the Django framework.</li>
                <li>Development of Web Scrapers and other data tools in Python.</li>
                <li>Analyze the structure and network flow of web applications and APIs for scraper automation and performance.</li>
                <li>Create Python scripts for data processing, modeling, and visualization.</li>
                <li>Assist the team with integrating projects into Power BI.</li>
                <li>Develop Power BI Dashboards.</li>
              </ul>
            </div>
            <div class="job-title">
              <div class="title-space">
                <div class="title">
                  <span class="bold">Software Engineering Intern</span>
                </div>
                <span class="date">Jul, 2020 - Abr, 2021</span>
              </div>
              <span class="job-description">This intership was focused on supporting the development of a data platform for scraping ecommerce prices and loading data into a Postgres database.</span> 
              The main activities were:
              <ul>
                <li>Maintenance and development of Back-end systems using the Django framework.</li>
                <li>Development of Web Scrapers and other tools in Python.</li>
                <li>Develop Power BI Dashboards.</li>
              </ul>
              <div class="tools">
                <span class="bold">Tools:</span>
                <span>Python, Django, Jupyter, Pandas, Power BI, Docker, Kubernetes, Azure, Burp Suite</span>
              </div>
              <div class="skills">
                <span class="bold">Skills:</span>
                <span>Python, Jupyter, Pandas, Microsoft Power BI, ETL (Extraction, Transformation, and Loading), PostgreSQL</span>
              </div>
            </div>
          </div>
        </div>
  
      <hr class="dash">
  
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/tsi.jpg" | relURL}}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Tempest Security Intelligence</span>
              <span class="bold">Threat Intelligence Intern</span>
            </div>
            <span class="date">Oct, 2018 - Oct, 2019</span>
          </div>
          <span class="job-description">This intership was focused on supporting threat intelligence operations by investigating cyber threats, assisting analysts, and automating operational tasks with scripts.</span>
          The main activities were:
          <ul>
            <li>Conduct analyses and investigations of cyber threats and financial frauds.</li>
            <li>Assist Threat Intelligence analysts in executing the operation through the development of python scripts.</li>
            <li>Write scripts to automate parsing of mass threat data.</li>
          </ul>
          <div class="tools">
            <span class="bold">Tools:</span>
            <span>Python, Bash, Burp Suite, Jira.</span>
          </div>
          <div class="skills">
            <span class="bold">Skills:</span>
            <span>Python, Bash, Cyber Threat Intelligence (CTI)</span>
          </div>
        </div>
      </div>
        
      <div class="section">
        <h3>Skills</h3>
              <div>
                <span class="bold">Programming Languages:</span>
                <span>Python, Java, R, SQL, Scala, Java Script, Bash.</span>
              </div>
              <div>
                <span class="bold">Tools:</span>
                <span>Excel, Spark, Airflow, ETL, Azure, Docker, Kubernetes, GitHub, Power BI</span>
              </div>
              <div>
                <span class="bold">Languages:</span>
                <span>English (Advanced), Portuguese (Native)</span>
              </div>
              <div>
                <span class="bold">GitHub:</span>
                <span><a href="https://github.com/Vapb">https://github.com/Vapb</a></span>
              </div>
            </table>
      </div>
  
      <div class="section">
            <h3>Certifications and Awards</h3>
                <ul>
              <li>DataCamp Data Engineer with Python (Ago 2022)</li>
              <li>Oracle Cloud Infrastructure 2022 Foundations Associate (Ago 2022)</li>
              <li>IBM Data Science Professional Certificate (Abr 2020)</li>
              <li>Academic Laureate - UFPE (Dez 2019)</li>
            </ul>
      </div>
    </div>
  </body>
  </html>
