<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resume</title>
  <link rel="stylesheet" href="{{ "css/style-cv.css" | relURL}}" type="text/css" media="all" />
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">Languages</button>
    <div class="dropdown-content">
      <a href="../cv_br">Portuguese</a>
      <a href=".">English</a>
    </div>
  </div> 

  <div class="curriculum">
    <div class="profile">
        <h1>John Doe</h1>
        <p>johndoe123@example.com</p>
    </div>
    
    <div class="section">
      <h3>Education</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">University 1</span>
              <span class="bold">Title 1</span>
            </div>
            <span class="date">2022 - 2024</span>
          </div>
        </div>
      </div>

      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">University 2</span>
              <span class="bold">Title 2</span>
            </div>
            <span class="date">2015 - 2019</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h3>Professional Experience</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="job-title">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Company Name 1</span>
                <span class="bold">Position 1</span>
              </div>
              <span class="date">Jul, 2024 - Present</span>
            </div>
            <span class="job-description">Position description</span>
            <span>Main responsibilities:</span>
            <ul>
              <li>Activities 1.</li>
              <li>Activities 2.</li>
              <li>Activities 3.</li>
            </ul>
          </div>          
        <div class="job-title">
          <div class="title-space">
            <div class="title">
              <span class="bold">Position 2</span>
            </div>
            <span class="date">Nov, 2022 - Present</span>
          </div>
          <span class="job-description">Position description</span> 
          <span>Main responsibilities:</span>
          <ul>
            <li>Activities 1.</li>
            <li>Activities 2.</li>
            <li>Activities 3.</li>
          </ul>
          <div class="tools">
            <span class="bold">Tools:</span>
            <span>Tool 1, Tool 2, and Tool 3</span>
          </div>
          <div class="skills">
            <span class="bold">Skills:</span>
            <span>Skill 1 and Skill 2</span>
          </div>
        </div>
      </div>
      </div>
      
      <hr class="dash">

      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Company Logo">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Company 2</span>
              <span class="bold">Position</span>
            </div>
            <span class="date">Oct, 2018 - Oct, 2019</span>
          </div>
          <span class="job-description">Position description.</span>
          Main responsibilities:
          <ul>
            <li>Activities 1.</li>
            <li>Activities 2.</li>
            <li>Activities 3.</li>
          </ul>
          <div class="tools">
            <span class="bold">Tools:</span>
            <span>Tool 1, Tool 2, and Tool 3</span>
          </div>
          <div class="skills">
            <span class="bold">Skills:</span>
            <span>Skill 1 and Skill 2</span>
          </div>
        </div>
      </div>
    
    <div class="section">
      <h3>Certifications</h3>
      <div class="certifications">
        <ul>
          <li>Certification 1</li>
          <li>Certification 2</li>
          <li>Certification 3</li>
        </ul>
      </div>
    </div>

    <div class="section">
      <h3>Additional Information</h3>
      <div class="extra-info">
        <p><strong>Projects:</strong> Github: github.com/johndoe </p>
        <p><strong>Blog:</strong> My technical blog with projects and posts: xxx.com.br</p>
      </div>
    </div>
  </div>
</body>
</html>
