<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
  <link rel="stylesheet" href="{{ "css/style-cv.css" | relURL}}" type="text/css" media="all" />
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">Idiomas</button>
    <div class="dropdown-content">
      <a href=".">Português</a>
      <a href="../cv_en">Inglês</a>
    </div>
  </div> 

  <div class="curriculum">
    <div class="profile">
        <h1>Victor Burgardt</h1>
        <p>vapb7123@gmail.com</p>
    </div>
    
    <div class="section">
      <h3>Educação</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="../cv-images/igti_logo.jpg" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Faculdade XP Educação - IGTI (XPE)</span>
              <span class="bold">MBA em Engenharia de Dados.</span>
            </div>
            <span class="date">2022 - 2024</span>
          </div>
        </div>
      </div>

      <div class="work-experience">
        <div class="company-logo">
          <img src="../cv-images/puc_rio_logo.jpg" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Pontifícia Universidade Católica do Rio de Janeiro (PUC-Rio)</span>
              <span class="bold">Pós-graduação em Ciência de Dados.</span>
            </div>
            <span class="date">2020 - 2021</span>
          </div>
        </div>
      </div>

      <div class="work-experience">
        <div class="company-logo">
          <img src="../cv-images/cinufpe_logo.jpg" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Universidade Federal de Pernambuco (UFPE)</span>
              <span class="bold">Bacharelado em Sistemas de Informação com Honras Acadêmicas</span>
            </div>
            <span class="date">2015 - 2019</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h3>Experiências Profissionais</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="../cv-images/fcx-labs.jpg" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">FCx Labs</span>
              <span class="bold">Cientista de Dados / Desenvolvedor Python</span>
            </div>
            <span class="date">Nov, 2022 - Presente</span>
          </div>
          <span class="job-description">Trabalhando em dois projetos desde o início, o Sistema de Gerenciamento de Transportes (TMS) é uma base de código grande com múltiplas tecnologias, com a maioria das minhas contribuições sendo no cálculo de preço de envio. O segundo projeto é o DAG de cálculo de frete grátis, que permite ao sistema principal de e-commerce definir produtos com frete grátis.</span> 
          <span>As principais atividades foram:</span>
          <ul>
            <li>Análise de desempenho de banco de dados com Jupyter.</li>
            <li>Criação de DAGs no Dagster.</li>
            <li>Migração de Pacotes Oracle para Postgres.</li>
            <li>Tradução de funções de banco de dados Oracle e PL/SQL para Python.</li>
            <li>Otimização do problema de empacotamento de bin.</li>
            <li>Análise de dados de usuários para otimização de cálculos de envio.</li>
            <li>Desenvolvimento, manutenção e documentação de sistemas Backend FastAPI.</li>
            <li>Teste de carga em endpoints de backend.</li>
            <li>Uso de soluções AWS como RDS, S3, IAM, AWS Secrets, ElasticCache.</li>
            <li>Outras atividades.</li>
          </ul>
          <div class="tools">
            <span class="bold">Ferramentas:</span>
            <span>K6, AWS, Rancher, Docker, Jupyter, Pandas, Polars, PLSQL, Postgres, Oracle</span>
          </div>
          <div class="skills">
            <span class="bold">Habilidades:</span>
            <span>Python, Jupyter, Pipeline de Dados, PostgreSQL, Banco de Dados Oracle, Amazon Web Services</span>
          </div>
        </div>
      </div>
      
      <hr class="dash">

      <div class="work-experience">
        <div class="company-logo">
          <img src="../cv-images/fgv-ibre.jpg" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="job-title">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Fundação Getulio Vargas FGV IBRE</span>
                <span class="bold">Desenvolvedor de Dados Python</span>
              </div>
              <span class="date">Abr, 2021 - Abr, 2022</span>
            </div>
            <span class="job-description">Esta posição teve como principal projeto a criação de uma plataforma de dados do zero para capturar preços de grandes sites de e-commerce, analisá-los e carregá-los em um banco de dados Postgres para consumo posterior pela equipe de ciência de dados.</span> 
            <span>As principais atividades foram:</span>
            <ul>
              <li>Manutenção e desenvolvimento de sistemas Back-end usando o framework Django.</li>
              <li>Desenvolvimento de Web Scrapers e outras ferramentas de dados em Python.</li>
              <li>Analisar a estrutura e o fluxo de rede de aplicações web e APIs para automação e desempenho de scrapers.</li>
              <li>Criar scripts Python para processamento, modelagem e visualização de dados.</li>
              <li>Auxiliar a equipe na integração de projetos ao Power BI.</li>
              <li>Desenvolver Dashboards no Power BI.</li>
            </ul>
          </div>
          <div class="job-title">
            <div class="title-space">
              <div class="title">
                <span class="bold">Estagiário de Engenharia de Software</span>
              </div>
              <span class="date">Jul, 2020 - Abr, 2021</span>
            </div>
            <span class="job-description">Este estágio foi focado em apoiar o desenvolvimento de uma plataforma de dados para captura de preços de e-commerce e carregamento de dados em um banco de dados Postgres.</span> 
            As principais atividades foram:
            <ul>
              <li>Manutenção e desenvolvimento de sistemas Back-end usando o framework Django.</li>
              <li>Desenvolvimento de Web Scrapers e outras ferramentas em Python.</li>
              <li>Desenvolver Dashboards no Power BI.</li>
            </ul>
            <div class="tools">
              <span class="bold">Ferramentas:</span>
              <span>Python, Django, Jupyter, Pandas, Power BI, Docker, Kubernetes, Azure, Burp Suite</span>
            </div>
            <div class="skills">
              <span class="bold">Habilidades:</span>
              <span>Python, Jupyter, Pandas, Microsoft Power BI, ETL (Extração, Transformação e Carga), PostgreSQL</span>
            </div>
          </div>
        </div>
      </div>

    <hr class="dash">

    <div class="work-experience">
      <div class="company-logo">
        <img src="../cv-images/tsi.jpg" alt="Logo da Empresa">
      </div>
      <div class="job-experience">
        <div class="title-space">
          <div class="title">
            <span class="job-name">Tempest Security Intelligence</span>
            <span class="bold">Estagiário de Inteligência de Ameaças</span>
          </div>
          <span class="date">Out, 2018 - Out, 2019</span>
        </div>
        <span class="job-description">Este estágio foi focado em apoiar operações de inteligência de ameaças investigando ameaças cibernéticas, auxiliando analistas e automatizando tarefas operacionais com scripts.</span>
        As principais atividades foram:
        <ul>
          <li>Conduzir análises e investigações de ameaças cibernéticas e fraudes financeiras.</li>
          <li>Auxiliar analistas de Inteligência de Ameaças na execução da operação através do desenvolvimento de scripts em Python.</li>
          <li>Escrever scripts para automatizar a análise de dados massivos de ameaças.</li>
        </ul>
        <div class="tools">
          <span class="bold">Ferramentas:</span>
          <span>Python, Bash, Burp Suite, Jira.</span>
        </div>
        <div class="skills">
          <span class="bold">Habilidades:</span>
          <span>Python, Bash, Inteligência de Ameaças Cibernéticas (CTI)</span>
        </div>
      </div>
    </div>
      
    <div class="section">
      <h3>Habilidades</h3>
      <div>
        <span class="bold">Linguagens de Programação:</span>
        <span>Python, Java, R, SQL, Scala, JavaScript, Bash.</span>
      </div>
      <div>
        <span class="bold">Ferramentas:</span>
        <span>Excel, Spark, Airflow, ETL, Azure, Docker, Kubernetes, GitHub, Power BI</span>
      </div>
      <div>
        <span class="bold">Idiomas:</span>
        <span>Inglês (Avançado), Português (Nativo)</span>
      </div>
      <div>
        <span class="bold">GitHub:</span>
        <span><a href="https://github.com/Vapb">https://github.com/Vapb</a></span>
      </div>
    </div>

    <div class="section">
      <h3>Certificações e Prêmios</h3>
      <ul>
        <li>DataCamp Data Engineer com Python (Ago 2022)</li>
        <li>Oracle Cloud Infrastructure 2022 Foundations Associate (Ago 2022)</li>
        <li>Certificado Profissional em Ciência de Dados da IBM (Abr 2020)</li>
        <li>Laureado Acadêmico - UFPE (Dez 2019)</li>
      </ul>
    </div>
  </div>
</body>
</html>
