<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currículo</title>
  <link rel="stylesheet" href="{{ "css/style-cv.css" | relURL}}" type="text/css" media="all" />
</head>

<body>
  <div class="dropdown">
    <button class="dropbtn">Idiomas</button>
    <div class="dropdown-content">
      <a href=".">Português</a>
      <a href="../cv_en">Inglês</a>
    </div>
  </div> 

  <div class="curriculum">
    <div class="profile">
        <h1>John Doe</h1>
        <p>johndoe123@example.com</p>
    </div>
    
    <div class="section">
      <h3>Educação</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Universidade 1</span>
              <span class="bold">Título 1</span>
            </div>
            <span class="date">2022 - 2024</span>
          </div>
        </div>
      </div>

      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Universidade 2</span>
              <span class="bold">Título 2</span>
            </div>
            <span class="date">2015 - 2019</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h3>Experiências Profissionais</h3>
      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="job-title">
            <div class="title-space">
              <div class="title">
                <span class="job-name">Nome da empresa 1</span>
                <span class="bold">Ocupação 1</span>
              </div>
              <span class="date">Jul, 2024 - Presente</span>
            </div>
            <span class="job-description">Descrição da posição</span>
            <span>Principais responsabilidades:</span>
            <ul>
              <li>Activities 1.</li>
              <li>Activities 2.</li>
              <li>Activities 3.</li>
            </ul>
          </div>          
        <div class="job-title">
          <div class="title-space">
            <div class="title">
              <span class="bold">Ocupação 2</span>
            </div>
            <span class="date">Nov, 2022 - Presente</span>
          </div>
          <span class="job-description">Descrição da posição</span> 
          <span>Principais responsabilidades:</span>
          <ul>
            <li>Activities 1.</li>
            <li>Activities 2.</li>
            <li>Activities 3.</li>
          </ul>
          <div class="tools">
            <span class="bold">Ferramentas:</span>
            <span>Ferramenta 1, Ferramenta 2 e Ferramenta 3</span>
          </div>
          <div class="skills">
            <span class="bold">Habilidades:</span>
            <span>Habilidade 1 e Habilidade 2</span>
          </div>
        </div>
      </div>
      </div>
      
      <hr class="dash">

      <div class="work-experience">
        <div class="company-logo">
          <img src="{{ "images/cv-images/random_image.jpg" | relURL}}" alt="Logo da Empresa">
        </div>
        <div class="job-experience">
          <div class="title-space">
            <div class="title">
              <span class="job-name">Empresa 2</span>
              <span class="bold">Ocupação</span>
            </div>
            <span class="date">Out, 2018 - Out, 2019</span>
          </div>
          <span class="job-description">Descrição da posição.</span>
          Principais responsabilidades:
          <ul>
            <li>Activities 1.</li>
            <li>Activities 2.</li>
            <li>Activities 3.</li>
          </ul>
          <div class="tools">
            <span class="bold">Ferramentas:</span>
            <span>Ferramenta 1, Ferramenta 2 e Ferramenta 3</span>
          </div>
          <div class="skills">
            <span class="bold">Habilidades:</span>
            <span>Habilidade 1 e Habilidade 2</span>
          </div>
        </div>
      </div>
    
    <div class="section">
      <h3>Certificações</h3>
      <div class="certifications">
        <ul>
          <li>Certificação 1</li>
          <li>Certificação 2</li>
          <li>Certificação 3</li>
        </ul>
      </div>
    </div>

    <div class="section">
      <h3>Outras Informações</h3>
      <div class="extra-info">
        <p><strong>Projetos:</strong> Github: github.com/johndoe </p>
        <p><strong>Blog:</strong> Meu blog técnico com projetos e posts: xxx.com.br</p>
      </div>
    </div>
  </div>
</body>
</html>
