{{ partial "header.html" . }}

<section class="container list">
  <header>
    <h1 class="title">
      {{ .Title }}
    </h1>
  </header>
  {{ .Content }}  
  <ul>
    {{ range .Paginator.Pages.ByDate.Reverse }}
    <li>
      <div>
        <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "02 January 2006" ) }}</span>
        <span>-</span>
        <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
      </div>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</section>

{{ partial "footer.html" . }}
