{{ partial "header.html" . }}

{{ with .Resources.GetMatch "cover.*" }}
      <img src="{{ .RelPermalink }}" class="post_img center" alt="CoverImage">
{{ end }}

<div class="post-title">
    <h1 class="title">
        {{ .Title }}
    </h1>
</div>

<div class="post-meta">
    <p><i>{{ .Description }}</i></p>
    <div class="date">
        <span class="posted-on">
          <i class="fa fa-calendar" aria-hidden="true">{{ i18n "date" }} : </i>
          <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .Date | time.Format (.Site.Params.dateFormat | default "2 January 2006" ) }}
          </time>
        </span>
      </div>
    {{ with .GetTerms "tags" }}{{ partial "tags.html" . }}{{ end }}
</div>

{{ partial "toc.html" .}}

{{ .Content }}

{{ partial "footer.html" . }}
