{{ partial "header.html" . }}


<div class="card">
    <div class="profile-pic">
      <img src="{{ relURL "images/profile.png" }}">
    </div>
    <div class="infos">
      <h1 id='MainTitle'>Welcome to VAPB THEME</h1>
      <h3>This is the most epic subtitle ever.</h3>
      <h3>Current Status</h3>
      <ul class="stats">
        <li>
          <h3>Projects</h3>
          <p>{{ add (len (where .Site.Pages "Section" "projects")) -1 }}</p>
        </li>
        <li>
          <h3>Posts</h3>
          <p>{{ add (len (where .Site.Pages "Section" "posts")) -1 }}</p>
        </li>
        <li>
          <h3>Tags</h3>
          <p>{{ add (len (where .Site.Pages "Section" "tags")) -1 }}</p>
        </li>
      </ul>

    </div>
  </div>


{{ .Content }}

{{ range $.Site.Home.Sections }}
    {{ if ne .Title "Cvs" }}
        <h1>Recent {{ .Title }}</h1>
        <ul>
            {{ range first 10 .Pages.ByDate.Reverse }}
            <li>
                <span class="date">{{ .Date | time.Format (.Site.Params.dateFormat | default "02 January 2006" ) }}</span>
                <span>-</span>
                <a class="title" href="{{ .Params.externalLink | default .RelPermalink }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    {{ end }}
{{ end }}



<h1>All Tags</h1>
<ul class="tags-list">
    {{range site.Taxonomies.tags.Alphabetical}}
        <div class="tag">
            <a href={{ .Page.RelPermalink }} title="all pages with “{{.Page.Title}}” ">{{.Page.Title}} <sup>{{.Count}}</sup></a>
        </div>
    {{end}}
</ul>


<script src= "/js/animate.js"></script>

{{ partial "footer.html" . }}
